$color: (
  dark-color: #000000,
  light-color: #ffffff,
  theme-color: #55b2e4,
  accent-color: #dc143c,
  gray-color: #9c9c9c,
  border-color: #dddddd,
  button-color: #f6f6f6,
  result-color: #ffff00,
  artist-color: #0f465e,
  table-color: #e2e2e2,
);
