$color: (
  main-light-color: #ffffff,
  main-dark-color: #000000,
  main-bg-color: #dc143c,
  main-text-color: #222,
);

$font: (
  mont-family: "Montserrat",
  mono-family: "Monoton",
  rail-family: "Railway",
);
